<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="rock.encryption"
             type ="Rock.Encryption.Configuration.RockEncryptionSection, Rock.Encryption"/>
  </configSections>

  <rock.encryption>
    <settings>
      <crypto type="Rock.Encryption.Bcl.BclCrypto, Rock.Encryption">
        <encryptionSettings>
          <credentials>
            <credential name="unprotectedKey">
              <key value="mw933/SWYcMxrhlXOTHyKX3n7Kh7u5yM1ikXktLWLUg=" />
            </credential>
            <credential name="protectedKey">
              <key type="Rock.DataProtection.Xml.DPAPIProtectedValue, Rock.Core"
                   encryptedData="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA79wFtWIlCke1NuQ4SRHZiAAAAAACAAAAAAADZgAAwAAAABAAAADolzvTkl6YQ97IAOz78UzgAAAAAASAAACgAAAAEAAAADI8zGwMWF3maq/b3Q3R6Q8oAAAAk6IauBvkXICB/IaA1Q96bagNNSZLgWl8CNfsHugrNuW8y+plF8buoRQAAACv2T/05NVTvC3HO8DWD+hj9TQ7Eg=="
                   optionalEntropy="vMEmj0DxjieSrn7YXe3u2w==" />
            </credential>
          </credentials>
        </encryptionSettings>
      </crypto>
    </settings>
  </rock.encryption>
  
</configuration>